<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PetAdopt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content style="align-items: center; text-align: center;">
  <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin-top: 30%;">Qual pet você está procurando?</h1>
  <ion-grid style="margin-top: 5%;">
    <ion-row style="text-align: center;">
      <ion-col size="6" size-sm>
        <ion-button color="primary" style="width: 70%; height: 100%;"><ion-img src="https://cdn-icons-png.flaticon.com/512/98/98110.png?w=360" style="height: 80%; width: 100%;"></ion-img></ion-button>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-button color="primary" style="width: 70%; height: 100%;"><ion-img src="https://cdn-icons-png.flaticon.com/512/2203/2203933.png" style="height: 80%; width: 100%;"></ion-img></ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 5%;">
      <ion-col size="6" size-sm>
        <ion-button color="primary" style="width: 70%; height: 100%;"><ion-img src="https://cdn-icons-png.flaticon.com/512/98/98110.png?w=360" style="height: 80%; width: 100%;"></ion-img></ion-button>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-button color="primary" style="width: 70%; height: 100%;"><ion-img src="https://cdn-icons-png.flaticon.com/512/98/98110.png?w=360" style="height: 80%; width: 100%;"></ion-img></ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col size="6" size-sm>
        <ion-button color="primary" style="width: 70%; height: 100%;"><ion-img src="https://cdn-icons-png.flaticon.com/512/98/98110.png?w=360" style="height: 80%; width: 100%;"></ion-img></ion-button>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-button color="primary" style="width: 70%; height: 100%;"><ion-img src="https://cdn-icons-png.flaticon.com/512/2203/2203933.png" style="height: 80%; width: 100%;"></ion-img></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

</ion-content>
