<ion-content style="height: 90%;">
  <ion-slides pager="true" [options]="slideOpts" style="height: 90%;">
    <ion-slide>
      <ion-img src="https://img.freepik.com/vetores-premium/design-de-banner-de-nos-preocupamos-com-o-seu-modelo-de-animal-de-estimacao_194552-1882.jpg?w=2000" style="height: 100%;">
      </ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://img.freepik.com/vetores-premium/design-de-banner-de-nos-preocupamos-com-o-seu-modelo-de-animal-de-estimacao_194552-1882.jpg?w=2000" style="height: 100%;">
      </ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://img.freepik.com/vetores-premium/design-de-banner-de-nos-preocupamos-com-o-seu-modelo-de-animal-de-estimacao_194552-1882.jpg?w=2000" style="height: 100%;">
      </ion-img>
    </ion-slide>
  </ion-slides>
  <ion-button style="margin-left: 60%;" [routerLink]="['/login']">Continuar</ion-button>
</ion-content>
